@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

$primViolet: #5964e0;
$primLightViolet: #939bf4;
$primDarkBlue: #19202d;
$primMidnight: #121721;

$secWhite: #ffffff;
$secLightGray: #f4f6f8;
$secGray: #9daec2;
$secDarkGray: #6e8098;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.app {
  background-color: $secLightGray;
}
